$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);

$ColorPrimary: #b38007;
$ColorSecondary: #000000;

$ColorBlack: #131F42;
$ColorWhite: #FFF;
