@use "../variables" as *;

.section.section--TextImageElement {
    .section_content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section_image {
            width: 50%;
            height: auto;
            flex-shrink: 0;

            padding-right: 20px;

            img{
                width: 100%;
                height: 100%;

                @include media(max-desktop) {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .section_text {
            width: 100%;
            color: var(--ColorBlack);

            .section_text_content{
                max-width: 700px;
            }
        }

        @include media(desktop) {
            flex-wrap: nowrap;
            margin: 50px auto;
        }
    }

    @include media(desktop) {
        &.image--right {
            .section_content{
                .section_text {
                    order: 1;
                }

                .section_image {
                    padding-left: 20px;
                    padding-right: 0px;
                    order: 2;
                }
            }
        }
    }
}
