.header {
    overflow: visible;
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    width: 100%;
    position: relative;
    filter: none;

    .header_nav{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;

      .nav_brand{
        height: 100%;
        @media screen and (max-width: 991px) {
          display: block;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .nav_menu{
        position: absolute;
        right: 10px;
        top: 10px;
        .nav_link {
          text-decoration: none;
          display: inline-block;
          margin: 10px 0;
          padding: 10px 30px;
          font-family: Commissioner, sans-serif;
          color: #1e3755;
          font-size: 17px;
          line-height: 20px;
          font-weight: 400;
          text-align: center;

          &:hover {
            background-color: #1e3755;
            color: #fff;
          }

          &:active {
            background-color: #14273d;
          }

          &:focus {
            background-color: #2d5381;
            color: #fff;
          }

          &.nav_link--active {
            background-color: #1e3755;
            color: #fff;
          }
        }
      }

      .nav_button{
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        @media screen and (max-width: 991px) {
          display: inline-block;
          width: 50px;
          height: 50px;
          cursor: pointer;

          .bar1, .bar2, .bar3, .bar4 {
            width: 35px;
            height: 5px;
            background-color: $ColorPrimary;
            transition: 0.4s;
            position: absolute;
          }

          .bar1{
            top: 6px;
            .body--show & {
              opacity: 0;
            }
          }

          .bar2{
            top: 18px;
            .body--show & {
              opacity: 1;
              transform-origin: center;
              transform: rotate(45deg);
            }
          }

          .bar3{
            opacity: 0;
            top: 18px;
            .body--show &{
              opacity: 1;
              transform-origin: center;
              transform: rotate(-45deg);
            }
          }

          .bar4{
            top: 30px;
            .body--show &{
              opacity: 0;
            }
          }
        }
      }
    }
  }
